<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="/logout">Logout</a>  <a href="/home">Home</a>
    <form action='/trip/processtrip/' method='post'>
        {% csrf_token %}
        <!-- <div id='fields'> -->
            <p>Destination : <input type='text' name='destination'></p>
            <p>Description : <input type='text' name='description'></p>
            <p>TravelDateFrom : <input type='text' name='TravelDateFrom'></p>
            <p>TravelDateTo : <input type='text' name='TravelDateTo'></p>

        <input type='submit' value='Submit'>
    </form>
</body>
</html>